@charset "UTF-8";
/*
folder base chứa các mục scss dùng chung tất cả các page của project *{}
folder
file _variable chứa tất cả biến và mixin
_index.scss import tat ca
style.scss import _index
*/
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid_full-width {
  width: 100%;
}

.grid_row {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.modal .modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-body {
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
}

.btn.btn-primary {
  color: #fff;
  background-color: #ee4d2d;
}

.header {
  height: 120px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
}
.header .navbar {
  display: flex;
  justify-content: space-between;
}
.header .navbar .navbar_list .navbar_item {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  margin: 1rem 8px;
  position: relative;
}
.header .navbar .navbar_list .navbar_item .text-none {
  cursor: default;
  color: #fff;
}
.header .navbar .navbar_list .navbar_item:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header .navbar .navbar_list .navbar_item .navbar_link {
  position: relative;
  margin-left: 14px;
}
.header .navbar .navbar_list .navbar_item .navbar_link i {
  position: absolute;
  top: 0;
  left: -23px;
  font-size: 2rem;
}
.header .navbar .navbar_list .navbar_item .navbar-notification {
  position: absolute;
  top: 222%;
  right: 0;
  width: 404px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 2px;
  transform-origin: calc(100% - 20px) top;
  animation: navbarNotify ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}
.header .navbar .navbar_list .navbar_item .navbar-notification::before {
  content: "";
  border: 13px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 12px;
  top: -26px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 22px;
  right: 0;
  top: -20px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-header {
  height: 40px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-header h3 {
  cursor: default;
  user-select: none;
  color: #aaa;
  line-height: 40px;
  margin-left: 12px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list {
  background-color: rgba(238, 77, 45, 0.1);
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list .notify-item:hover {
  background-color: #ddd;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list .notify-item .notify-link {
  display: flex;
  align-items: center;
  color: #333;
  margin-left: 12px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list .notify-item .notify-link .notify-img {
  width: 48px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list .notify-item .notify-link .notify-info {
  margin-left: 12px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list .notify-item .notify-link .notify-info .notify-name {
  display: block;
  margin-bottom: 3px;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-list .notify-item .notify-link .notify-info .notify-desc {
  font-size: 1.2rem;
  color: #aaa;
}
.header .navbar .navbar_list .navbar_item .navbar-notification .notify-footer {
  text-align: center;
  color: #aaa;
  padding: 10px;
  display: block;
}
@keyframes navbarNotify {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header .navbar .navbar_list .text-semibold {
  font-weight: 600;
}
.header .navbar .navbar_list .navbar_border .navbar-img {
  width: 186px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 140%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}
.header .navbar .navbar_list .navbar_border .navbar-img .navbar-qr {
  width: 100%;
}
.header .navbar .navbar_list .navbar_border .navbar-img .navbar-app {
  display: flex;
  justify-content: space-around;
}
.header .navbar .navbar_list .navbar_border .navbar-img .navbar-app img {
  height: 15px;
}
.header .navbar .navbar_list .navbar_border:hover .navbar-img {
  display: block;
}
.header .navbar .navbar_list .navbar_border:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -9.5px;
  height: 16px;
  border-left: 1px solid #fb9086;
}
.header .navbar .navbar_list .navbar_border::after {
  content: "";
  display: block;
  position: absolute;
  width: 81%;
  left: 0;
  height: 16px;
}
.header .navbar .navbar_list .navbar_show:hover .navbar-notification {
  display: block;
}

.auth-form {
  width: 500px;
}
.auth-form .form-container {
  padding: 32px;
}
.auth-form .form-container .form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.auth-form .form-container .form-header .form-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.auth-form .form-container .form-header .form-switch-btn {
  font-size: 1.6rem;
  color: #ee4d2d;
  font-weight: 600;
  cursor: pointer;
}
.auth-form .form-container .form-body .form-group .form-control {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 12px;
  font-size: 1.4rem;
  border: 1px solid #ddd;
  outline: none;
}
.auth-form .form-container .form-body .form-group .form-control:focus {
  border-color: #888;
}
.auth-form .form-container .form-text .form-policy {
  line-height: 1.6rem;
  text-align: center;
  padding: 0 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}
.auth-form .form-container .form-text .form-policy .policy-link {
  color: #ee4d2d;
}
.auth-form .form-container .form-btn {
  margin-top: 80px;
}