html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 5rem;
  text-align: center;
}

.btn {
  border: 0;
  margin: 0 2rem;
  padding: 1rem 3.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #ff7870;
}
.btn:hover {
  color: #fff;
}

.btn-left::after {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.25s linear;
}
.btn-left:hover::after {
  width: 100%;
}

.btn-right::after {
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: width 0.25s linear;
}
.btn-right:hover::after {
  width: 100%;
}

.btn-top::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.25s linear;
}
.btn-top:hover::after {
  height: 100%;
}

.btn-bottom::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.25s linear;
}
.btn-bottom:hover::after {
  height: 100%;
}

.toggle {
  margin-top: 5rem;
  cursor: pointer;
}
.toggle .toggle-input {
  display: none;
}
.toggle .toggle-input:checked + .toggle-bar {
  background-color: #ff7870;
}
.toggle .toggle-input:checked + .toggle-bar .toggle-spin {
  transform: translateX(6rem);
}
.toggle .toggle-bar {
  width: 10rem;
  height: 4rem;
  background-color: #eee;
  border-radius: 5rem;
  padding: 5px;
  transition: background-color 0.2s linear;
}
.toggle .toggle-bar .toggle-spin {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 3rem;
  transition: transform 0.2s linear;
}

#dropdown {
  background-color: #1a1c28;
  height: 500px;
}
#dropdown .dropdown {
  width: 100%;
  max-width: 47.5rem;
  margin: 5rem auto;
  position: relative;
}
#dropdown .dropdown:hover .dropdown-list {
  display: block;
}
#dropdown .dropdown .dropdown-select {
  width: 100%;
  padding: 3rem;
  background-color: #de4b3e;
  border-radius: 4px;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#dropdown .dropdown .dropdown-list {
  margin-top: 2.5rem;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
}
#dropdown .dropdown .dropdown-list::before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
#dropdown .dropdown .dropdown-list .dropdown-item {
  padding: 3rem;
  background-color: #de4b3e;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.25s linear;
}
#dropdown .dropdown .dropdown-list .dropdown-item:hover {
  background-color: #c74237;
}
#dropdown .dropdown .dropdown-list .dropdown-item:first-child {
  position: relative;
  border-radius: 4px 4px 0 0;
  border: 1px solid #de4b3e;
}
#dropdown .dropdown .dropdown-list .dropdown-item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #de4b3e;
  transform: translateY(-100%);
  transition: all 0.25s linear;
}
#dropdown .dropdown .dropdown-list .dropdown-item:first-child:hover::before {
  border-bottom-color: #c74237;
}
#dropdown .dropdown .dropdown-list .dropdown-item:last-child {
  border-radius: 0 0 4px 4px;
}

.modal-card {
  background-image: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%);
  padding: 50px 0;
}
.modal-card .open-modal-btn {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
}
.modal-card .modal-item {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.modal-card .modal-item .modal-inner {
  position: relative;
  width: 400px;
  top: 30%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  animation: modalShow 0.3s linear;
}
.modal-card .modal-item .modal-inner .modal-header {
  padding: 15px;
  background-color: #de4b3e;
  color: #fff;
  font-size: 2rem;
}
.modal-card .modal-item .modal-inner .modal-header i {
  cursor: pointer;
}
.modal-card .modal-item .modal-inner .modal-body {
  padding: 15px;
  text-align: left;
  font-size: 1.5rem;
}
.modal-card .modal-item .modal-inner .modal-body h2 {
  color: #de4b3e;
  margin-bottom: 10px;
}
.modal-card .modal-item .modal-inner .modal-footer {
  padding: 15px;
}
.modal-card .modal-item .modal-inner .modal-footer button {
  padding: 10px 25px;
  color: #fff;
  background-color: #de4b3e;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

@keyframes modalShow {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}
.wrapper {
  padding-top: 50px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.wrapper .image {
  width: 22%;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}
.wrapper .image img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.wrapper .image img:hover {
  transform: scale(1.2);
}

.gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s;
}
.gallery .close {
  position: fixed;
  top: 15px;
  right: 25px;
  font-size: 35px;
}
.gallery .gallery-inner {
  height: 80%;
}
.gallery .gallery-inner img {
  height: 100%;
}
.gallery .control {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
}
.gallery .prev {
  left: 15px;
}
.gallery .right {
  right: 15px;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.hide-prev {
  display: none;
}

.search {
  height: 100px;
  background: linear-gradient(to right, #4daf54, #3d8880);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .search-box {
  background-color: #000;
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.search .search-box .search-box-input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  padding: 15px 100px 15px 15px;
}
.search .search-box .search-box-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  border: none;
}

.search-box.open {
  width: 400px;
}

.keycode {
  height: 80vh;
  padding: 100px;
  background-color: #17a2b8;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.keycode .keycode-alert {
  font-size: 3rem;
  color: #17a2b8;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 30px;
  border: none;
  font-weight: 600;
}
.keycode .keycode-box .keycode-info {
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  margin: auto;
  margin-bottom: 60px;
}
.keycode .keycode-box .keycode-detail {
  display: flex;
}
.keycode .keycode-box .keycode-detail .keycode-card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}
.keycode .keycode-box .keycode-detail .keycode-card p {
  padding: 10px;
  color: #000;
  font-size: 2rem;
  margin-bottom: 0;
}
.keycode .keycode-box .keycode-detail .keycode-card p:first-child {
  background-color: #78c0c9;
  color: #fff;
}