* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #4daf54, #3d8880);
  height: 100vh;
  .card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background-color: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    position: relative;
    &:hover .card-img {
      transform: translateY(-90px) rotate(-20deg);
    }
    &:hover .card-title {
      transform: translate(-38px, -72px);
    }
    &:hover .card-price {
      transform: translate(-117px, -72px);
    }
    &:hover .card-size,
    &:hover .card-color,
    &:hover .card-action {
      visibility: visible;
      opacity: 100;
    }
    &:hover .card-size {
      margin-top: -40px !important;
    }
    .card-heart,
    .card-cart {
      font-size: 25px;
      position: absolute;
      left: 20px;
      top: 15px;
      z-index: 1;
      cursor: pointer;
      &:hover {
        color: #4daf54;
      }
    }
    .card-cart {
      left: unset;
      right: 20px;
    }

    .card-img {
      height: 45%;
      transition: 0.5s;
      img {
        width: 100%;
        position: relative;
        top: -6rem;
      }
    }
    .card-title,
    .card-price {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      transition: 0.5s;
    }
    .card-title {
      color: #4daf54;
    }
    .card-price {
    }
    .card-size,
    .card-color {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .card-size {
      margin-top: 150px;
      h3 {
        margin-right: 10px;
      }
      span {
        padding: 1px 10px;
        background-color: #dadada;
        color: black;
        border-radius: 5px;
        margin: 0 5px;
      }
    }
    .card-color {
      span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 5px;
      }
      .card-color-green {
        background-color: green;
        margin-left: 10px;
      }
      .card-color-red {
        background-color: red;
      }
      .card-color-black {
        background-color: black;
      }
    }
    .card-action {
      button {
        background-color: #4daf54;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 10px;
        transition: 0.25s;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
    .card-size,
    .card-color,
    .card-action {
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      transition-delay: all 0.4s;
    }
  }
}
