@import "./validation";
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  padding: 5rem;
  text-align: center;
}
.btn {
  border: 0;
  margin: 0 2rem;
  padding: 1rem 3.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #ff7870;
  }
  &:hover {
    color: #fff;
  }
}

.btn-left {
  &::after {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}

.btn-right {
  &::after {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}
.btn-top {
  &::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.25s linear;
  }
  &:hover::after {
    height: 100%;
  }
}
.btn-bottom {
  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.25s linear;
  }
  &:hover::after {
    height: 100%;
  }
}

.toggle {
  margin-top: 5rem;
  cursor: pointer;
  .toggle-input {
    display: none;
    &:checked + .toggle-bar {
      background-color: #ff7870;
    }
    &:checked + .toggle-bar .toggle-spin {
      transform: translateX(6rem);
    }
  }
  #toggle-input {
  }
  .toggle-bar {
    width: 10rem;
    height: 4rem;
    background-color: #eee;
    border-radius: 5rem;
    padding: 5px;
    transition: background-color 0.2s linear;
    .toggle-spin {
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border-radius: 3rem;
      transition: transform 0.2s linear;
    }
  }
}

#dropdown {
  background-color: #1a1c28;
  height: 500px;
  .dropdown {
    width: 100%;
    max-width: 47.5rem;
    margin: 5rem auto;
    position: relative;
    &:hover .dropdown-list {
      display: block;
    }
    .dropdown-select {
      width: 100%;
      padding: 3rem;
      background-color: $bg-primary;
      border-radius: 4px;
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .dropdown-selected {
      }
      .dropdown-caret {
      }
    }
    .dropdown-list {
      margin-top: 2.5rem;
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      &::before {
        content: "";
        height: 2.5rem;
        position: absolute;
        left: 0;
        right: 0;
        background-color: transparent;
        transform: translateY(-100%);
      }
      .dropdown-item {
        padding: 3rem;
        background-color: $bg-primary;
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.25s linear;
        &:hover {
          background-color: $bg-secondary;
        }
        .dropdown-text {
        }
        .dropdown-icon {
        }
      }
      .dropdown-item:first-child {
        position: relative;
        border-radius: 4px 4px 0 0;
        border: 1px solid $bg-primary;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 3rem;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $bg-primary;
          transform: translateY(-100%);
          transition: all 0.25s linear;
        }
        &:hover::before {
          border-bottom-color: $bg-secondary;
        }
      }
      .dropdown-item:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
