@import "./validation";

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 5rem;
  text-align: center;
}
.btn {
  border: 0;
  margin: 0 2rem;
  padding: 1rem 3.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #ff7870;
  }
  &:hover {
    color: #fff;
  }
}

.btn-left {
  &::after {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}

.btn-right {
  &::after {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}
.btn-top {
  &::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.25s linear;
  }
  &:hover::after {
    height: 100%;
  }
}
.btn-bottom {
  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.25s linear;
  }
  &:hover::after {
    height: 100%;
  }
}

.toggle {
  margin-top: 5rem;
  cursor: pointer;
  .toggle-input {
    display: none;
    &:checked + .toggle-bar {
      background-color: #ff7870;
    }
    &:checked + .toggle-bar .toggle-spin {
      transform: translateX(6rem);
    }
  }
  #toggle-input {
  }
  .toggle-bar {
    width: 10rem;
    height: 4rem;
    background-color: #eee;
    border-radius: 5rem;
    padding: 5px;
    transition: background-color 0.2s linear;
    .toggle-spin {
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border-radius: 3rem;
      transition: transform 0.2s linear;
    }
  }
}

#dropdown {
  background-color: #1a1c28;
  height: 500px;
  .dropdown {
    width: 100%;
    max-width: 47.5rem;
    margin: 5rem auto;
    position: relative;
    &:hover .dropdown-list {
      display: block;
    }
    .dropdown-select {
      width: 100%;
      padding: 3rem;
      background-color: $bg-primary;
      border-radius: 4px;
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .dropdown-selected {
      }
      .dropdown-caret {
      }
    }
    .dropdown-list {
      margin-top: 2.5rem;
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      &::before {
        content: "";
        height: 2.5rem;
        position: absolute;
        left: 0;
        right: 0;
        background-color: transparent;
        transform: translateY(-100%);
      }
      .dropdown-item {
        padding: 3rem;
        background-color: $bg-primary;
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.25s linear;
        &:hover {
          background-color: $bg-secondary;
        }
        .dropdown-text {
        }
        .dropdown-icon {
        }
      }
      .dropdown-item:first-child {
        position: relative;
        border-radius: 4px 4px 0 0;
        border: 1px solid $bg-primary;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 3rem;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $bg-primary;
          transform: translateY(-100%);
          transition: all 0.25s linear;
        }
        &:hover::before {
          border-bottom-color: $bg-secondary;
        }
      }
      .dropdown-item:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

.modal-card {
  background-image: linear-gradient(
    45deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%
  );
  padding: 50px 0;
  .open-modal-btn {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    font-size: 2rem;
  }
  .modal-item {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    .modal-inner {
      position: relative;
      width: 400px;
      top: 30%;
      margin: auto;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      animation: modalShow 0.3s linear;
      .modal-header {
        padding: 15px;
        background-color: $bg-primary;
        color: #fff;
        font-size: 2rem;
        i {
          cursor: pointer;
        }
      }
      .modal-body {
        padding: 15px;
        text-align: left;
        h2 {
          color: $bg-primary;
          margin-bottom: 10px;
        }
        font-size: 1.5rem;
      }
      .modal-footer {
        padding: 15px;
        button {
          padding: 10px 25px;
          color: #fff;
          background-color: $bg-primary;
          border-radius: 10px;
          border: none;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.hide {
  display: none;
}

@keyframes modalShow {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}

.wrapper {
  padding-top: 50px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  .image {
    width: 22%;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    img {
      width: 100%;
      height: 100%;
      transition: 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s;
  .close {
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
  }
  .gallery-inner {
    height: 80%;
    img {
      height: 100%;
    }
  }
  .control {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
  }
  .prev {
    left: 15px;
  }
  .right {
    right: 15px;
  }
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.hide-prev {
  display: none;
}

.search {
  height: 100px;
  background: linear-gradient(to right, #4daf54, #3d8880);
  display: flex;
  justify-content: center;
  align-items: center;
  .search-box {
    background-color: #000;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: all 0.5s ease;
    .search-box-input {
      width: 100%;
      height: 100%;
      background: transparent;
      color: #fff;
      font-size: 2rem;
      padding: 15px 100px 15px 15px;
    }
    .search-box-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      font-size: 2rem;
      border: none;
    }
  }
}

.search-box.open {
  //  this.parentElement.classList.toggle("open");
  width: 400px;
}

.keycode {
  padding: 100px;
  background-color: #17a2b8;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .keycode-alert {
    font-size: 3rem;
    color: #17a2b8;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    border: none;
    font-weight: 600;
  }
  .keycode-box {
    .keycode-info {
      height: 200px;
      width: 200px;
      border: 5px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      font-weight: bold;
      margin: auto;
      margin-bottom: 60px;
    }
    .keycode-detail {
      display: flex;
      .keycode-card {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px;
        p {
          padding: 10px;
          color: #000;
          font-size: 2rem;
          margin-bottom: 0;
        }
      }
      .keycode-card p:first-child {
        background-color: #78c0c9;
        color: #fff;
      }
    }
  }
  .hide-key {
    display: none;
  }
}

.search-tag {
  background-color: #8cc84c;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .search-card {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    .search-title {
      font-size: 2rem;
    }
    .search-content {
      border: 1px solid #888;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      .search-list {
        background-color: #8cc84c;
        color: #fff;
        border-radius: 3px;
        list-style: none;
        margin: 4px 3px;
        padding: 10px;
        font-size: 1.5rem;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
      .search-input {
        border: none;
        outline: none;
        font-size: 2rem;
        margin: 10px;
        flex: 1;
      }
    }
    .search-btn-remove {
      background-color: #8cc84c;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      margin-top: 15px;
      transition: all 0.25s;
      &:hover {
        background: #7cac49;
      }
    }
  }
}

// Curve background efffects

.curve-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  .menu {
    background-color: $bg-primary;
    padding: 50px 15px;
    border-radius: 15px;
    width: 400px;
    margin: 3rem;
    color: #fff;
    font-size: 3rem;
    padding-right: 0;
    .menu-item {
      padding: 15px;
      border-radius: 15px 0 0 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;
      .menu-text {
        margin-left: 10px;
      }
    }
    .active {
      background-color: #fff;
      color: $bg-primary;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $bg-primary;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        transform: translateY(-100%);
        box-shadow: 10px 10px 0 0 #fff;
      }
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $bg-primary;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        transform: translateY(100%);
        box-shadow: 10px -10px 0 0 #fff;
      }
    }
  }
}

#loading {
  background-color: #131933;
  padding: 5rem 0;
  .loading {
    margin: auto;
    width: 7rem;
    height: 7rem;
    position: relative;
    @for $i from 0 to 8 {
      .item-#{$i + 1} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate($i * 45deg);
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 5px solid #00aefd;
          border-radius: 5rem;
          filter: hue-rotate($i * 45deg);
          animation: loading 2s infinite;
          animation-delay: calc($i * 0.25s);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
    }
  }
}

@keyframes loading {
  to {
    transform: scale(0);
    // opacity: 0;
  }
}

// form'
$bg-c1: #2691d9;
$bg-c2: #e74c3c;
.form {
  padding: 5rem;
  background: linear-gradient(120deg, #3ca7ee, #9b408f);
  display: flex;
  justify-content: center;
  align-items: center;
  .form-item {
    width: 400px;
    border: none;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    .form-control {
      position: relative;
      border: none;
      margin-top: 40px;
      text-align: left;
      input {
        outline: none;
        border: none;
        width: 100%;
        height: 40px;
        font-size: 2rem;
        border-bottom: 2px solid #adadad;
        &:focus ~ span {
          width: 96%;
        }
      }
      span {
        position: absolute;
        border-bottom: 3px solid $bg-c1;
        left: 7px;
        top: 41.5px;
        width: 0;
        transition: 0.25s;
      }
    }
    .error {
      input {
        border-bottom: 2px solid $bg-c2;
      }
      small {
        color: $bg-c2;
        font-size: 1.5rem;
      }
    }
    .form-btn {
      width: 100%;
      height: 50px;
      border-radius: 25px;
      border: none;
      margin: 30px 0 25px 0;
      font-size: 2rem;
      font-weight: bold;
      background-color: $bg-c1;
      color: #fff;
      &:hover {
        background-color: #08609a;
      }
    }
    .sign-up {
      font-size: 2rem;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// api
.api-section {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../img/download.png) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  #weather {
    width: 350px;
    border-radius: 10px;
    padding: 30px 20px;
    background: url(../img/download.png) center/cover;
    margin: 100px 0;
    .weather {
      width: 100%;
      padding: 10px 20px;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 0 15px 0 15px;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
      font-size: 19px;
      transition: 0.5s;
      &:focus {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 15px 0 15px 0;
      }
    }
    .weather-content {
      color: #fff;
      margin: 40px 0;
      .weather-title {
        margin-bottom: 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        font-size: 4rem;
        .city {
        }
        .country {
        }
      }
      .weather-time {
        margin: 15px 0 20px 0;
        font-size: 20px;
      }
      .weather-box {
        font-size: 65px;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.7);
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 10px;
        margin: 0 30px;
        padding: 10px;
        .weather-value {
        }
      }
      .weather-bot {
        font-size: 40px;
        font-weight: bold;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        margin: 30px;
      }
      .weather-foot {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        .weather-item {
          display: flex;
          flex-direction: column;
          padding: 5px;
          i {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

// todolist
.todo {
  background: linear-gradient(to right, #ffe000, #799f0c);
  padding: 100px;
  .todo-list {
    width: 400px;
    padding: 100px auto;
    background: #fff;
    padding-top: 10px;
    border-radius: 5px;

    form {
      border-bottom: 1px solid #aaa;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      input {
        font-size: 2rem;
        width: 100%;
        margin-right: 15px;
        border: none;
        outline: none;
      }
      .btn-todo {
        padding: 5px 15px;
        background: yellowgreen;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
      }
    }
    .list-todo {
      list-style: none;
      padding-left: 0;
      font-size: 22px;
      font-weight: 600;
      li {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        align-items: center;
        cursor: pointer;
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        i {
        }
      }
      .todo-done {
        color: #aaa;
        span {
          text-decoration: line-through;
        }
      }
    }
  }
}

.control {
  padding: 300px 0 100px;
  height: 500px;
  background: linear-gradient(
    255deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .success {
    background-color: green;
  }
  .warning {
    background-color: orange;
  }
  .error {
    background-color: red;
  }
  button {
    padding: 10px 16px;
    margin: 0 8px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
    &:hover {
      opacity: 0.7;
      box-shadow: 0px 0px 17px #ccc;
    }
  }
  .box-warn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    padding: 20px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.929);
    text-align: left;
    overflow: hidden;
    width: 370px;
    animation: slide_show 2s ease forwards;
  }
  .box-warn.success {
    background: rgba(0, 128, 0, 0.4);
    border-left: 4px solid green;
  }
  .box-warn.warning {
    margin-top: 100px;
    background: rgba(126, 128, 0, 0.4);
    border-left: 4px solid orange;
  }
  .box-warn.error {
    margin-top: 200px;
    background: rgba(128, 32, 0, 0.4);
    border-left: 4px solid red;
  }
  .border-box {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 3s ease forwards;
  }
  .border-box.success {
    background: green;
  }
  .border-box.warning {
    background: orange;
  }
  .border-box.error {
    background: red;
  }
}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slide_show {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes slide_hide {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(200%);
  }
}

// slide_show
