@import "./validation";

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  padding-top: 5rem;
  text-align: center;
}
.btn {
  border: 0;
  margin: 0 2rem;
  padding: 1rem 3.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #ff7870;
  }
  &:hover {
    color: #fff;
  }
}

.btn-left {
  &::after {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}

.btn-right {
  &::after {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s linear;
  }
  &:hover::after {
    width: 100%;
  }
}
.btn-top {
  &::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.25s linear;
  }
  &:hover::after {
    height: 100%;
  }
}
.btn-bottom {
  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.25s linear;
  }
  &:hover::after {
    height: 100%;
  }
}

.toggle {
  margin-top: 5rem;
  cursor: pointer;
  .toggle-input {
    display: none;
    &:checked + .toggle-bar {
      background-color: #ff7870;
    }
    &:checked + .toggle-bar .toggle-spin {
      transform: translateX(6rem);
    }
  }
  #toggle-input {
  }
  .toggle-bar {
    width: 10rem;
    height: 4rem;
    background-color: #eee;
    border-radius: 5rem;
    padding: 5px;
    transition: background-color 0.2s linear;
    .toggle-spin {
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border-radius: 3rem;
      transition: transform 0.2s linear;
    }
  }
}

#dropdown {
  background-color: #1a1c28;
  height: 500px;
  .dropdown {
    width: 100%;
    max-width: 47.5rem;
    margin: 5rem auto;
    position: relative;
    &:hover .dropdown-list {
      display: block;
    }
    .dropdown-select {
      width: 100%;
      padding: 3rem;
      background-color: $bg-primary;
      border-radius: 4px;
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .dropdown-selected {
      }
      .dropdown-caret {
      }
    }
    .dropdown-list {
      margin-top: 2.5rem;
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      &::before {
        content: "";
        height: 2.5rem;
        position: absolute;
        left: 0;
        right: 0;
        background-color: transparent;
        transform: translateY(-100%);
      }
      .dropdown-item {
        padding: 3rem;
        background-color: $bg-primary;
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.25s linear;
        &:hover {
          background-color: $bg-secondary;
        }
        .dropdown-text {
        }
        .dropdown-icon {
        }
      }
      .dropdown-item:first-child {
        position: relative;
        border-radius: 4px 4px 0 0;
        border: 1px solid $bg-primary;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 3rem;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $bg-primary;
          transform: translateY(-100%);
          transition: all 0.25s linear;
        }
        &:hover::before {
          border-bottom-color: $bg-secondary;
        }
      }
      .dropdown-item:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

.modal-card {
  background-image: linear-gradient(
    45deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%
  );
  padding: 50px 0;
  .open-modal-btn {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    font-size: 2rem;
  }
  .modal-item {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    .modal-inner {
      position: relative;
      width: 400px;
      top: 30%;
      margin: auto;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      animation: modalShow 0.3s linear;
      .modal-header {
        padding: 15px;
        background-color: $bg-primary;
        color: #fff;
        font-size: 2rem;
        i {
          cursor: pointer;
        }
      }
      .modal-body {
        padding: 15px;
        text-align: left;
        h2 {
          color: $bg-primary;
          margin-bottom: 10px;
        }
        font-size: 1.5rem;
      }
      .modal-footer {
        padding: 15px;
        button {
          padding: 10px 25px;
          color: #fff;
          background-color: $bg-primary;
          border-radius: 10px;
          border: none;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.hide {
  display: none;
}

@keyframes modalShow {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}

.wrapper {
  padding-top: 50px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  .image {
    width: 22%;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    img {
      width: 100%;
      height: 100%;
      transition: 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s;
  .close {
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
  }
  .gallery-inner {
    height: 80%;
    img {
      height: 100%;
    }
  }
  .control {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
  }
  .prev {
    left: 15px;
  }
  .right {
    right: 15px;
  }
}

.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.hide-prev {
  display: none;
}

.search {
  height: 100px;
  background: linear-gradient(to right, #4daf54, #3d8880);
  display: flex;
  justify-content: center;
  align-items: center;
  .search-box {
    background-color: #000;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: all 0.5s ease;
    .search-box-input {
      width: 100%;
      height: 100%;
      background: transparent;
      color: #fff;
      font-size: 2rem;
      padding: 15px 100px 15px 15px;
    }
    .search-box-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      font-size: 2rem;
      border: none;
    }
  }
}

.search-box.open {
  //  this.parentElement.classList.toggle("open");
  width: 400px;
}

.keycode {
  padding: 100px;
  background-color: #17a2b8;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .keycode-alert {
    font-size: 3rem;
    color: #17a2b8;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    border: none;
    font-weight: 600;
  }
  .keycode-box {
    .keycode-info {
      height: 200px;
      width: 200px;
      border: 5px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      font-weight: bold;
      margin: auto;
      margin-bottom: 60px;
    }
    .keycode-detail {
      display: flex;
      .keycode-card {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px;
        p {
          padding: 10px;
          color: #000;
          font-size: 2rem;
          margin-bottom: 0;
        }
      }
      .keycode-card p:first-child {
        background-color: #78c0c9;
        color: #fff;
      }
    }
  }
  .hide-key {
    display: none;
  }
}

.search-tag {
  background-color: #8cc84c;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .search-card {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    .search-title {
      font-size: 2rem;
    }
    .search-content {
      border: 1px solid #888;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      border-radius: 5px;
      .search-list {
        background-color: #8cc84c;
        color: #fff;
        border-radius: 3px;
        list-style: none;
        margin: 4px 3px;
        padding: 10px;
        font-size: 1.5rem;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
      .search-input {
        border: none;
        outline: none;
        font-size: 2rem;
        margin: 10px;
        flex: 1;
      }
    }
    .search-btn-remove {
      background-color: #8cc84c;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      margin-top: 15px;
      transition: all 0.25s;
      &:hover {
        background: #7cac49;
      }
    }
  }
}

// Curve background efffects

.curve-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  .menu {
    background-color: $bg-primary;
    padding: 50px 15px;
    border-radius: 15px;
    width: 400px;
    margin: 3rem;
    color: #fff;
    font-size: 3rem;
    padding-right: 0;
    .menu-item {
      padding: 15px;
      border-radius: 15px 0 0 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;
      .menu-text {
        margin-left: 10px;
      }
    }
    .active {
      background-color: #fff;
      color: $bg-primary;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $bg-primary;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        transform: translateY(-100%);
        box-shadow: 10px 10px 0 0 #fff;
      }
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $bg-primary;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        transform: translateY(100%);
        box-shadow: 10px -10px 0 0 #fff;
      }
    }
  }
}

#loading {
  background-color: #131933;
  padding: 5rem 0;
  .loading {
    margin: auto;
    width: 7rem;
    height: 7rem;
    position: relative;
    @for $i from 0 to 8 {
      .item-#{$i + 1} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate($i * 45deg);
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 5px solid #00aefd;
          border-radius: 5rem;
          filter: hue-rotate($i * 45deg);
          animation: loading 2s infinite;
          animation-delay: calc($i * 0.25s);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
    }
  }
}

@keyframes loading {
  to {
    transform: scale(0);
    // opacity: 0;
  }
}
