.header {
  height: $height-header;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  .navbar {
    display: flex;
    justify-content: space-between;
    .navbar_list {
      .navbar_item {
        display: inline-block;
        font-size: $text-m;
        color: $text-white;
        margin: 1rem 8px 0;
        position: relative;
        .text-none {
          cursor: default;
          color: $text-white;
        }
        a {
          i {
            font-size: $text-xl;
          }
        }
        &:hover {
          color: rgba(255, 255, 255, 0.7);
          cursor: pointer;
        }

        .navbar_link {
          position: relative;
          margin-left: 14px;
          i {
            position: absolute;
            top: 0;
            left: -23px;
            font-size: $text-2xl;
          }
        }

        .navbar-notification {
          position: absolute;
          z-index: 1;
          top: 222%;
          right: 0;
          width: 404px;
          border: 1px solid $bg-gray;
          background-color: $bg-white;
          border-radius: 2px;
          transform-origin: calc(100% - 20px) top;
          animation: navbarNotify ease-in 0.2s;
          will-change: opacity, transform; // trình duyệt sẽ tối ưu 2 chuyển động này hơn
          display: none;

          &::before {
            content: "";
            border: 13px solid;
            border-color: transparent transparent $bg-white transparent;
            position: absolute;
            right: 12px;
            top: -26px;
          }
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100px;
            height: 22px;
            right: 0;
            top: -20px;
          }

          .notify-header {
            height: 40px;
            h3 {
              cursor: default;
              user-select: none;
              color: $text-gray;
              line-height: 40px;
              margin-left: 12px;
            }
          }
          .notify-list {
            background-color: rgba(238, 77, 45, 0.1);
            .notify-item {
              &:hover {
                background-color: $bg-gray;
              }
              .notify-link {
                display: flex;
                align-items: center;
                color: $text-dark;
                margin-left: 12px;
                .notify-img {
                  width: 48px;
                }
                .notify-info {
                  margin-left: 12px;
                  .notify-name {
                    display: block;
                    margin-bottom: 3px;
                  }
                  .notify-desc {
                    font-size: $text-s;
                    color: $text-gray;
                  }
                }
              }
            }
          }
          .notify-footer {
            text-align: center;
            color: $text-gray;
            padding: 10px;
            display: block;
          }
        }
        @keyframes navbarNotify {
          from {
            opacity: 0;
            transform: scale(0);
          }
          to {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
      .text-semibold {
        font-weight: $text-semibold;
      }
      .navbar_border {
        .navbar-img {
          width: 186px;
          background-color: $bg-white;
          position: absolute;
          left: 0;
          top: 140%;
          padding: 8px;
          border-radius: 2px;
          display: none;
          animation: fadeIn ease-in 0.3s;
          z-index: 1;
          .navbar-qr {
            width: 100%;
          }
          .navbar-app {
            display: flex;
            justify-content: space-around;
            img {
              height: 15px;
            }
          }
        }
        &:hover .navbar-img {
          display: block;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: -9.5px;
          height: 16px;
          border-left: 1px solid #fb9086;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 81%;
          left: 0;
          height: 16px;
        }
      }
      .navbar_show {
        &:hover .navbar-notification {
          display: block;
        }
      }
      .navbar-user {
        position: relative;
        &:hover .nav-user-list {
          display: block;
        }
        .nav-user-list {
          position: absolute;
          background-color: $bg-white;
          color: $text-black;
          left: -50px;
          top: 21px;
          font-size: $text-m;
          width: 153px;
          z-index: 1;
          border-radius: 2px;
          box-shadow: 0 0 20px 0px #f0e7e740;
          animation: navbarNotify ease-in 0.2s;
          transform-origin: calc(100% - 20px) top;
          display: none;

          &::after {
            content: "";
            top: -20px;
            position: absolute;
            border: 10px solid;
            right: 40px;
            border-color: transparent transparent $bg-white;
          }
          .nav-user-item {
            padding: 16px;
            &:hover {
              background-color: #f9f9f9;
              color: green;
            }
          }
        }
      }
    }
  }

  .header-search {
    height: $height-header-search;
    display: flex;
    align-items: center;
    .header-logo {
      width: 200px;
      .logo-img {
        width: 160px;
      }
    }
    .search-input {
      height: 40px;
      flex: 1;
      background-color: $bg-white;
      border-radius: 2px;
      display: flex;
      align-items: center;
      .search-wrap {
        height: 100%;
        flex: 1;
        position: relative;
        .input-search {
          border-radius: 2px;
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          font-size: $text-l;
          padding: 0 16px;
          &:focus ~ .search-history {
            display: block;
          }
        }
        .search-history {
          position: absolute;
          z-index: 1;
          top: calc(100% + 2px);
          left: 0;
          width: calc(100% - 16px);
          background-color: $bg-white;
          border-radius: 3px;
          overflow: hidden;
          box-shadow: 0 1px 5px rgb(189, 189, 189);
          font-size: $text-xl;
          color: $text-dark;
          display: none;
          .history-title {
            color: $text-gray;
            padding: 12px 16px;
          }
          .history-list {
            .history-item {
              height: 38px;
              padding: 0 16px;
              line-height: 38px;
              &:hover {
                background-color: $bg-gray-secondary;
              }
              a {
                display: block;
              }
            }
          }
        }
      }

      .search-select {
        border-left: 1px solid $bg-gray;
        padding-left: 16px;
        font-size: $text-l;
        .select-label {
        }
        i {
          margin: 0 8px;
          position: relative;
          top: 2px;
        }
      }

      .header-search-btn {
        border: none;
        background-color: $bg-c2-primary;
        height: 34px;
        font-size: $text-l;
        width: 60px;
        cursor: pointer;
        color: $text-white;
        border-radius: 3px;
        margin-right: 3px;
        line-height: 1rem;
        &:hover {
          opacity: 0.9;
        }
        i {
        }
      }
    }

    .header-cart {
      width: 150px;
      text-align: center;
      font-size: $text-3xl;
      color: $text-white;
      cursor: pointer;
      .header-cart-wrap {
        &:hover .cart-box {
          display: block;
        }
        position: relative;
        display: inline-block;
        i {
          width: 57px;
        }
        .cart-notice {
          position: absolute;
          padding: 2px 4px;
          background-color: $bg-white;
          font-size: $text-s;
          border-radius: 2.75rem;
          border: 1px solid $bg-c2-primary;
          color: $text-primary;
          top: -2px;
          right: 0;
        }
        .cart-box {
          position: absolute;
          z-index: 1;
          top: 121%;
          right: -4px;
          background-color: $bg-white;
          width: 400px;
          border-radius: 2px;
          padding: 28px 0;
          border: 1px solid $bg-gray-secondary;
          display: none;
          transform-origin: calc(100% - 20px) top;
          animation: navbarNotify ease-in 0.2s;
          &::before {
            content: "";
            position: absolute;
            right: -1px;
            top: -30px;
            border: 20px solid;
            border-color: transparent transparent $bg-white transparent;
          }
          &::after {
            content: "";
            width: 50px;
            position: absolute;
            right: -1px;
            top: -13px;
            border: 15px solid transparent;
          }
          .cart-empty {
            display: none;
            img {
              width: 100px;
            }
            .cart-text {
              color: $text-black;
              font-size: $text-m;
              margin-top: 14px;
            }
          }
          .cart-full {
            margin: -28px 0;
            display: block;
            .cart-heading {
              padding: 16px 10px;
              color: $text-gray;
              font-size: $text-m;
              text-align: left;
            }
            .cart-list {
              overflow: hidden;
              .cart-item {
                padding: 10px;
                display: flex;
                &:hover {
                  background-color: $bg-gray-secondary;
                }
                img {
                  border: 1px solid $bg-gray;
                  width: 50px;
                }
                .cart-info {
                  color: $text-black;
                  font-size: $text-m;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-left: 8px;
                  flex: 1;
                  h5 {
                  }
                  span {
                    color: $text-primary;
                  }
                }
              }
            }
            .cart-footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: #fdfdfd;
              padding: 10px;
              margin-bottom: 3px;
              p {
                color: $text-gray;
                font-size: $text-s;
              }
              .btn-primary {
                line-height: 3.4rem;
                &:hover {
                  opacity: 0.9;
                }
              }
            }
          }
        }
      }
    }
  }
}

.auth-form {
  width: 500px;
  background-color: $bg-white;
  border-radius: 5px;
  overflow: hidden;
  .form-container {
    padding: 32px;
    .form-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 8px 36px;
      .form-title {
        font-size: 2.2rem;
        font-weight: $text-semibold;
      }
      .form-switch-btn {
        font-size: 1.6rem;
        color: $text-primary;
        font-weight: $text-semibold;
        cursor: pointer;
      }
    }
    .form-body {
      .form-group {
        .form-control {
          width: 100%;
          height: 40px;
          margin-bottom: 16px;
          padding-left: 12px;
          font-size: $text-m;
          border: 1px solid $bg-gray;
          outline: none;
          &:focus {
            border-color: #888;
          }
        }
      }
    }
    .form-text {
      .form-policy {
        line-height: 1.6rem;
        text-align: center;
        padding: 0 8px;
        @include text($text-s, $text-semibold, $text-black);
        .policy-link {
          color: $text-primary;
        }
      }

      .form-help {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: $text-m;
        .help-link:first-child {
          color: $text-primary;
          font-weight: $text-semibold;
        }
        .help-link:last-child {
          opacity: 0.5;
        }
        .separate {
          display: block;
          border-left: 1px solid #eaeaea;
          height: 22px;
          margin: 0px 16px;
        }
      }
    }
    .form-btn {
      margin-top: 80px;
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }

  .form-social {
    background-color: $bg-gray-secondary;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    .btn-icon {
      i {
        font-size: $text-2xl;
        margin-right: 30px;
      }
    }
    .social-fb {
      background-color: #3a5a98;
      color: $text-white;
    }
    .social-gg {
      background-color: $bg-white;
      color: $text-black;
      i {
        color: #4285f4;
      }
    }
  }
}
