// Khai báo biến

// bg

$bg-c1-primary: #ee4d2d;
$bg-c1-secondary: rgb(245, 249, 254);
$bg-white: #fff;
$bg-black: #000;
$bg-gray: #ddd;
$bg-gray-secondary: #f5f5f5;

// text-color

$text-primary: #ee4d2d;
$text-white: #fff;
$text-black: #000;
$text-dark: #333;
$text-gray: #aaa;

// text-size

$text-s: 1.2rem;
$text-m: 1.4rem;
$text-l: 1.6rem;
$text-xl: 1.8rem;
$text-2xl: 2rem;
$text-3xl: 3rem;
$text-4xl: 4rem;
$text-5xl: 5rem;
$text-6xl: 6rem;

// font-weight

$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;

// mixin: Hàm trong scss

@mixin text($fs: $text-base, $fw: $text-regular, $c: $text-back) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin button($fs-btn, $fw, $c, $bg, $pd, $bd, $br, $bg-hover, $c-hover) {
  @include text($fs-btn, $fw, $c);
  background: $bg;
  padding: $pd;
  border: $bd;
  border-radius: $br;
  &:hover {
    background: $bg-hover;
    color: $c-hover;
  }
}
