* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

//reponsive

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid_full-width {
  width: 100%;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.66666%;
}

.col-2-4 {
  padding-left: 6px;
  padding-right: 6px;
  width: 20%;
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3334%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

// modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-body {
    margin: auto;
    animation: growth linear 0.1s;
    position: relative;
    z-index: 1;
    .modal-inner {
    }
  }
}

// btn

.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  border-radius: 3px;
  font-size: $text-m;
  cursor: pointer;
  background-color: $bg-white;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.btn.btn-primary {
  color: $text-white;
  background-color: $bg-c1-primary;
}

.btn.btn-icon {
  height: 32px;
  font-size: $text-m;
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: calc(50% - 8px);
}

// selection
.select-input {
  position: relative;
  min-width: 200px;
  border-radius: 3px;
  background-color: $bg-white;
  height: 32px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover .select-list {
    display: block;
  }
  .select-list {
    position: absolute;
    z-index: 1;
    top: 103%;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: $bg-white;
    padding: 8px 16px;
    display: none;
  }
}

// pagination

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-xl;
  color: $text-gray;
  .pagination-item {
    border-radius: 3px;
    margin: 0 12px;
    .pagination-link {
      min-width: 40px;
      height: 30px;
      display: block;
      text-align: center;
      line-height: 30px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .pagination-active {
    background-color: $bg-c1-primary;
    color: $text-white;
  }
}
